@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", serif;
}

.banner{
    padding: 60px 0px;
}

.banner-box{
    width: 75%;
    margin: 0px auto;
    padding: 80px 100px;
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    gap: 30px;
}

.banner-box p{
    color: #0e0e0e9a;
    font-size: 24px;
    padding-bottom: 20px;
}

.banner-box h1{
    font-size: 56px;
}

.btn-box{
    display: inline-block;
    background: #006A50;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}
.btn-box button{
    color: #ffffff;
    background-color: #006A50;
    border: none;
    font-size: 18px;
}